#root {
  height: 100%;
  width: 100%;
  background-color; red;
  display: flex;
}
.sidebar {
    height: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 18%;
    border-right: 1px solid #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.sidebar > * {
    flex: 0 0 auto;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar input {
    background: #242424;
    border: 1px solid #555;
    padding: 3px 12px 3px 12px;
    outline: none;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.buttonBar { 
    height: calc(100% - 20px);
    width: 40px;
    background: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.viewButton {
    height: 25px;
    width: 25px;
    background: #323232;
    border: none;
    border-radius: 3px;
    border: 1px solid #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
}
.viewButton:hover {
    border: 1px solid #fff;
}
.viewButton.active {
    background: #444;
}
.chatCard {
    height: 30px;
    background: #262626;
    border-radius: 8px;
    width: calc(100% - 50px);
    margin-bottom: 5px;
    padding: 3px 8px 3px 15px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    align-items: center;
    user-select: none;
    border: 1px solid transparent;
}
.chatCard:hover {
    border: 1px solid #444;
}
.activeChat {
    background: #333;
}
.mainView {
    margin: 10px;
    margin-top: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.title {
    opacity: .5;
    text-align: center;
}
.chatView {
    background: #272727;
    border-radius: 20px;
    flex: 1;
    margin-top: 5px;
    min-height: 0;
}
.addActor {
    height: 24px;
    width: 24px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: .1s;
}
.addActor:hover {
    filter: brightness(1.5);
    border: 2px solid #777;
    cursor: pointer;
}
.addContainer {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actorBar {
    height: 40px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
    flex: 1;
    margin: 10px;
    margin-top: 0;
    height: calc(100% - 140px);
    display: flex;
    overflow-y: scroll;
    min-height: 0;
}
.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-track {
  background: #222;
}

.container::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 0;        /* square corners */
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}
.actorRow {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    height: 100%;
    width: calc(100% - 40px);
    border-radius: 20px;
}
.momentsBar {
    min-width: 40px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100%;
}
.momentSelect {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 12px;
    justify-content: center;
    cursor: pointer;
    background: #333;
    border-radius: 50%;
    font-size: .8em;
    flex-shrink: 0;
}
.actor-col {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actor {
    height: 35px;
    width: 35px;
    background: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.actor:hover {
    cursor: pointer;
    border: 1px solid #666;
}
.activeActor {
    background: #555;
}
.overlay {
    position: absolute;
    background: rgba(0,0,0, .2);
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup {
    height: 200px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid #555;
    background: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.popup input {
    width: 200px;
    background: #242424;
    border: 1px solid #555;
    padding: 3px 12px 3px 12px;
    outline: none;
    height: 30px;
    border-radius: 20px;
    box-sizing: border-box;
}
.createActor {
    height: 25px;
    width: 80px;
    background: #333;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.createActor:hover {
    border: 1px solid #555;
}
.blocksContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.messages {
    height: 100%;
    width: 100%;
}
.container.::-webkit-scrollbar {
    display: none;
}
.input {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #303030;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#messageInput {
    height: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    border: none;
    background: transparent;
    border: 1px solid #555;
    outline: none;
    width: 80%;
}
#messageInput:focus {
    border-color: #0266C8;
    border-width: 2px;
}
.tabMode {
    border-color: #F90101 !important;
}
.moment {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    height: 40px;
    border-radius: 20px;
}
.moment:hover {
    border: 1px solid #333;
}
.hoveredMoment {
    border: 1px solid #333;
}
.activeMoment {
    background: #555 !important;
}

.block {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 100%;
}
.activeBlock {
    background: #F2B50F10;
}
.message {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0266C8;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
.activeBar {
    background: #F2B50F10;
}
.queryView {
    flex: 1;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.timelinesGraph {
    height: 500px;
    width: 100%;
    background #fff;
    border: 1px solid #333;
    border-radius: 20px;
    background: #252525;
}
.referencesGraph{
    height: 500px;
    width: 100%;
    background #333;
    border: 1px solid #333;
    border-radius: 20px;
    background: #252525;
}

